<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259431727067-n7oc6qpi5qviuu85sud9nu4bp5ql30k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259431727067-n7oc6qpi5qviuu85sud9nu4bp5ql30k5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>259431727067-kgq3c4p2i8ci7v8ts3h3v8qllntedl6a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJV6YaS9W8ZdQ3T5cxWPDBfd-JX6lO5qI</string>
	<key>GCM_SENDER_ID</key>
	<string>259431727067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.rscardrive.car</string>
	<key>PROJECT_ID</key>
	<string>rs-car-owner</string>
	<key>STORAGE_BUCKET</key>
	<string>rs-car-owner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259431727067:ios:55764f04d929ffa95131fe</string>
</dict>
</plist>